


/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*




**/.DS_Store
**/Thumbs.db
*.zip
*.rar
*.7z
*.tar
*.gz
*.tgz
*.tar.gz

/Pet-Shop-Frontend/node_modules/
/Pet-Shop-Frontend/build/
/Pet-Shop-Frontend/dist/
/Pet-Shop-Frontend/.env
/Pet-Shop-Frontend/.env.*.local

/Pet-Shop-Backend/node_modules/
/Pet-Shop-Backend/build/
/Pet-Shop-Backend/dist/
/Pet-Shop-Backend/.env
/Pet-Shop-Backend/.env.*.local


/archiv/